# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
missing_nests.csv
long_trips.RData
trip_distances.png
gps_points_long_trips.csv
long_trip_maps.pdf
long_trips_summary.csv
test.map.pdf
.Rproj.user
# All csv (data) files
*.csv
long_trip_maps2.pdf
openstreetmap_coast_polygon.RData
SWE_adm0.RData
map_fagelsundet.pdf
map_overview.pdf
map_stora_karlso.pdf
Fagelsundet_birds_trip_duration_date_1.pdf
# All pdf files
*.pdf
# All svg files
*.svg
# Map data files
*.rds
# PNG figures
*.png
stats_plots.tiff
baltic_coast_and_islands.RData
rings_lines_col_days365_period2000_new.tiff
flight_subset_altitude_points.RData
overview_map.log
overview_map.ps
